*{
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto';
}
main {
    background-color: rgb(14, 14, 14); 
}
.navbar {
    width: 100%;
    height: 10vh;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    background: rgb(14, 14, 14);
    color: white;
    border-bottom: solid 6px rgb(97, 97, 255);
    font-size: 1.5rem;
    position: fixed;
    z-index: 1000;
}
#header-size {
    height: 10vh;
    min-height: 70px; 
}
#direita {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
}
#botoes {
    display: flex;
}
.paginas {
    padding-inline: 20px;
    transition: 150ms ease-in;
}
.paginas:hover {
    transform: scale(1.05);
    color: rgb(97, 97, 255);
    cursor: pointer;
    border-bottom: 1px solid rgb(97, 97, 255);
}
#notificacao {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(235, 235, 235);
    border-radius: 50%;
}
#notificacao:hover {
    background: rgb(97, 97, 255);
    cursor: pointer;
}
#notificacao i {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    display: none;
}
#notificacao img {
    width: 38px;
}
#notificacao-log {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 20vw;
    height: 0;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: clip;
    background-color: rgb(30, 28, 48);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: 250ms ease-in;
}
.hero {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: url(img/fundo.png) no-repeat;
    background-size: cover;
}
.titulo {
    width: 100%;
    height: 100%;
    padding: 5% 5% 0 5%;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.titulo h1 {
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(0, 0, 123);
}
#hero-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    flex-grow: 0;
}
.titulo #hero-imgs * {
    min-width: 190px;
    width: 17%;
    height: auto;
}
.sombra {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
        90deg,  
        rgba(0, 0, 0, 0.947),
        rgba(23, 23, 23, 0.055) 70%,
        rgba(0, 0, 0, 0.947)
    );
    inset: 0;
    z-index: 1;
}
.produtos {
    display: flex;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: solid 2px rgb(105, 99, 128);
    overflow-x: scroll;
}
h3 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: 50px;
}
.produto {
    width: 400px;
    height: 550px;
    background: linear-gradient(
        45deg,
        rgb(30, 28, 48),
        rgb(1, 0, 88)
    );
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(33, 0, 85);
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    margin: 5px;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 4px rgb(97, 97, 255);
}
.produto u {
    text-wrap: pretty;
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}
.img-container {
    align-self: center;
    width: 280px;
    background: rgba(204, 204, 204, 0.363);
    border: 1px solid rgba(95, 95, 95, 0.219);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    margin-block: 2em;
}
.produto img {
   max-width: 90%;
   height: 250px;
}
button {
    background-color: rgb(11, 121, 211);
    color: aliceblue;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 28px;
    text-wrap: nowrap;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms ease-in;
}
.produto button {
    aspect-ratio: 1/1;
}
button:hover {
    background-color: rgb(10, 104, 182);
    cursor: pointer;
    transform: scale(1.25);
}
button:active {
    transform: scale(0.9);
}
#informations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 1em;
    min-height: 120px;
    text-wrap: nowrap;
}
#informations div:nth-child(3) {
    font-weight: bold;
    font-size: 1.4rem;
}
#informations div {
    grid-column: 1;
}
#informations button {
    grid-column: 2;
    grid-row: 3;
    justify-self: flex-end;
}
.carrao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px black;
    background-color: rgb(235, 235, 235);
}
#img-car {
    width: 25px; 
    transform: translate(-1px, 2px)
}
.carrao:hover {
    transform: scale(1.05);
    background-color: rgb(97, 97, 255);

}
footer {
    background: rgb(14, 14, 14);
    border-top: 1px solid white;
    height: 50vh;
}
::-webkit-scrollbar-track {
    background: rgb(14, 14, 14);
}
::-webkit-scrollbar {
    width: 12px; /* Largura da scrollbar vertical */
    height: 12px; /* Altura da scrollbar horizontal */
}
::-webkit-scrollbar-thumb {
    background: rgb(97, 97, 255); /* Cor do polegar */
    border: 1px solid rgb(52, 52, 255);
    border-radius: 10px; /* Arredondamento do polegar */
}